<header th:fragment="header" xmlns:th="https://www.thymeleaf.org">

    <nav class="main-nav" id="main-nav">
        <div class="nav-body">
            <div class="logo"><a th:href="@{/home}"><img th:src="@{img/brillbro-icon.png}" alt="logo"></a></div>
            <div class="menu">
                <div class="menu-item"><label th:text="${capName}">, Welcome</label></div>
                <div class="menu-item"><a th:href="@{/userdetail}">User Details</a></div>
                <div class="menu-item"><a href="#">Logout</a></div>
            </div>
            <div class="clear"></div>
        </div>
    </nav>

</header>