<header th:fragment="header" xmlns:th="https://www.thymeleaf.org">

    <nav class="main-nav" id="main-nav">
        <div class="nav-body">
            <div class="logo"><img th:src="@{img/brillbro-icon.png}" alt="logo"></div>
            <div class="menu">
                <div class="menu-item"><a href="#">Home</a></div>
                <div class="menu-item"><a href="#">About</a></div>
                <div class="menu-item"><a href="#">Service</a></div>
                <div class="menu-item"><a href="#">Contact</a></div>
            </div>
            <div class="clear"></div>
        </div>
    </nav>

</header>