<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{css/mystyle.css}">
    <link th:rel="stylesheet" th:href="@{css/layoutstyle.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/myscript.js}"></script>
    <script th:src="@{js/jquery-3.2.1.min.js}"></script>
    <script>
      // เมื่อเพจโหลดเสร็จ เพิ่มคลาส loaded ให้กับ id body จะกลายเป็น #body.loaded ตรงกับคลาส css ข้างบน
      window.onload = function() {
        var body = document.getElementById("body");
        body.className += " loaded";
      };

      // เมื่อสกอลง จะเพิ่มคลาส sticky ให้กับ id main-nav จะกลายเป็น #main-nav.sticky
      // เมื่อสกอลง จะเพิ่มคลาส active ให้กับ id to-top จะกลายเป็น #to-top.active

      window.onscroll = function(e) {
        var nav = document.getElementById("main-nav");
        var offset = window.pageYOffset;
        if ( offset > 0) {
          nav.className = "sticky";
        } else {
          // ถ้าสกอจนถึงบนสุดคลาส sticky และ active จะหายไป
          nav.className = "";
        }
      }
      </script>

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div layout:fragment="content" style="padding-top: 90px;"></div>


</body>
</html>