@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
       /*ปรับหน้าเว็บ*/
        html, body {
          margin: 0;
          padding: 0;
        }

        body {
            font-family: 'Poppins', sans-serif;
        }
        /*ใช้หลังจากที่ไม่ต้องการให้ float left หรือ right*/
        .clear {
          clear: both;
          float: none;
        }
        /*กำหนดค่าให้กับรูปภาพ*/
        img {
          max-width: 100%;
          height: auto;
        }
        /*ขึ้นบรรทัดใหม่*/
        p {
          margin-top: 0;
        }
        /*เมนูด้านบน ครอบเมนูทั้งหมด*/
        #main-nav {
          display: block;
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          padding-top: 30px;
          background-color: #fff;
          z-index: 9999;
        }
        /*เนื้อหาของเมนู*/
        .nav-body {
          max-width: 1000px;
          margin: 0 auto;
        }
        .logo {
          float: left;
        }
        .logo img {
          width: 80px;
          height: 80px;
        }
        /*หัวข้อเมนู*/
        .menu {
          float: right;
          padding-top: 30px;
        }
        /*ชื่อเมนูแต่ละอัน*/
        .menu-item {
          display: inline-block;
        }
        /*ลิงค์เมนู*/
        .menu-item a {
          text-decoration: none;
          padding: 15px 20px;
          color: #000;
        }
        /*ลิงค์เมนูแสดง effect เมื่อเอาเมาส์วาง*/
        .menu-item a:hover ,
        .menu-item a:focus {
          color: #fff;
          background-color: #EEC654;
        }
        /*ไอคอนรูปแว่นขยาย*/
        .search {
          width: 15px;
          height: 15px;
        }
        /*กำหนด transition ให้กับเมนูและโลโก้ เมื่อสกอลง*/
        #main-nav ,
        .logo img ,
        .menu {
          -webkit-transition: all 0.5s;
             -moz-transition: all 0.5s;
               -o-transition: all 0.5s;
                  transition: all 0.5s;
        }
        /*กำหนดลักษณะของเมนูที่ทำการ sticky เมื่อสกอลง*/
        #main-nav.sticky {
          padding-top: 0px;
          box-shadow: 0 4px 2px -2px #ccc;
        }
        /*กำหนดลักษณะของโลโก้ที่ทำการ sticky เมื่อสกอลง*/
        .sticky .logo img {
          width: 60px;
          height: 60px;
        }
        /*กำหนดลักษณะของเมนูที่ทำการ sticky เมื่อสกอลง*/
        .sticky .menu {
          padding-top: 20px;
        }
        /*กำหนดลักษณะของเนื้อหาและ transition ของเนื้อหา*/
        .body {
          max-width: 1000px;
          margin: 300px auto 0;
          opacity: 0;
          -webkit-transition: all 0.8s;
             -moz-transition: all 0.8s;
               -o-transition: all 0.8s;
                  transition: all 0.8s;
        }
        /*กำหนดลักษณะของเนื้อหา เมื่อเพจโหลดเสร็จ*/
        .body.loaded {
          opacity: 1;
          margin-top: 140px;
        }
        /*ปุ่ม back to top*/
        #to-top {
          position: fixed;
          bottom: 15px;
          right: 30px;
          width: 50px;
          height: 50px;
          opacity: 0;
          -webkit-transition: all 0.5s;
             -moz-transition: all 0.5s;
               -o-transition: all 0.5s;
                  transition: all 0.5s;
        }
        /*รูปลูกศร back to top*/
        #to-top img {
          display: block;
          width: 100%;
        }
        /*เมื่อสกอลงจะแสดง back to top*/
        #to-top.active {
          opacity: 1;
          bottom: 30px;
        }
        .banner {
          margin-bottom: 20px;
        }
        /*เนื้อหาแบบ 2 คอลัมน์ด้านซ้าย*/
        .content-left {
          width: 60%;
          margin-right: 5%;
          margin-bottom: 30px;
          float: left;
        }
        /*เนื้อหาแบบ 2 คอลัมน์ด้านขวา*/
        .content-right {
          width: 35%;
          float: left;
          margin-bottom: 30px;
        }
        /*ปุ่มคอลัมน์ด้านขวา*/
        .btn {
          float: right;
          padding: 10px 20px;
          border: 1px solid #000;
          text-decoration: none;
          color: #000;
          -webkit-transition: all 0.3s;
             -moz-transition: all 0.3s;
               -o-transition: all 0.3s;
                  transition: all 0.3s;
        }
        /*ปุ่มคอลัมน์ด้านขวาเมื่อเอาเมาส์วาง*/
        .btn:hover {
          color: #fff;
          background-color: #000;
}