<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <!--Made with love by Mutiullah Samim -->

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link th:rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{css/mystyle.css}">
    <script th:src="@{js/bootstrap.min.js}"></script>
</head>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign Up</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span>
                </div>
            </div>
            <div class="card-body">
                <form th:action="@{/register}" th:object="${captain}" method="POST">

                    <label class="remember"><b>Username</b></label>
                    <div class="input-group form-group">
                        <input type="text" class="form-control" th:field="*{cUsername}" placeholder="cUsername">
                    </div>
                    <label class="remember"><b>Password</b></label>
                    <div class="input-group form-group">
                        <input type="password" class="form-control" th:field="*{c_pwd}" placeholder="password">
                    </div>
                    <label class="remember"><b>Confirm Password</b></label>
                    <div class="input-group form-group">
                        <input type="password" class="form-control" placeholder="confirm-c_pwd">
                    </div>
                    <label class="remember"><b>Email-Address</b></label>
                    <div class="input-group form-group">
                        <input type="text" class="form-control" th:field="*{c_email}" placeholder="c_email">
                    </div>
                    <label class="remember"><b>Name</b></label>
                    <div class="input-group form-group">
                        <input type="text" class="form-control" th:field="*{c_name}" placeholder="in-app c_name">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</html>
